<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bank</title>
</head>
<body>
	<div id="tableContainer"></div>
	<h1>Welcome to...</h1>
	<p><a href="/clients">1 - Print clients and their balance (amount of money)</a></p>
	<p><a href="/addclient">2 - Registry client</a></p>
	<p><a href="/chooseuserformoneymovementreport">3 - Print client money movement</a></p>
	<hr>
	<p><a href="/deposit">4 - Deposit money</a></p>
	<p><a href="/withdraw">5 - Withdraw money</a></p>
	<hr>
	<p><a href="/transfer">6 - Transfer money</a></p>
	<p><a href="/unregister">7 - Unregister client</a></p>
</body>
</html>