<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bank</title>
</head>
<body>
	<p>Transfer money</p>
	<form th:object="${transferRequest}">
		<div th:if="${#fields.hasErrors()}">
			<span class="validationError">
				Please correct the problems below and resubmit.
			</span>
		</div>
		<label for="from-client">From Client:</label>
		<select id="from-client" th:field="*{fromClientId}">
			<option value="-1">select option</option>
			<option th:each="option : ${clients}" th:value="${option.id}" th:text="${option.email}"></option>
		</select>
		<label for="to-client">To Client:</label>
		<select id="to-client" th:field="*{toClientId}">
			<option value="-1">select option</option>
			<option th:each="option : ${clients}" th:value="${option.id}" th:text="${option.email}"></option>
		</select>
		<br>
		<label for="amount">Amount:</label>
		<input id="amount" type="text" th:field="*{amount}">
		<span class="validationError" th:if="${#fields.hasErrors('amount')}" th:errors="*{amount}">Amount Error</span>
		<br>
		<label for="day">Day:</label>
		<input id="day" type="text" th:field="*{day}">
		<span class="validationError" th:if="${#fields.hasErrors('day')}" th:errors="*{day}">Day Error</span>
		<br>
		<label for="month">Month:</label>
		<input id="month" type="text" th:field="*{month}">
		<span class="validationError" th:if="${#fields.hasErrors('month')}" th:errors="*{month}">Month Error</span>
		<br>
		<label for="year">Year:</label>
		<input id="year" type="text" th:field="*{year}">
		<span class="validationError" th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Year Error</span>
		<br>
	</form>
	<button onclick="return transfer()">Transfer</button>
	<p><a href="/">Back to main menu</a></p>
</body>
<script>
	function transfer() {
		const http         = new XMLHttpRequest(),
		      params       = {
			      amount:       document.querySelector('#amount').value,
			      day:          document.querySelector('#day').value,
			      month:        document.querySelector('#month').value,
			      year:         document.querySelector('#year').value,
			      fromClientId: document.querySelector('#from-client').value,
			      toClientId:   document.querySelector('#to-client').value,
		      };

		http.open('POST', '/api/clients/transfer', true);
		http.onload = function () {
			if (http.status !== 200) {
				alert(http.responseText);
				return;
			}
			window.location.replace('/clients');
		};
		http.onerror = function () {
			alert(http.responseText);
		};
		http.setRequestHeader('Content-Type', 'application/json');
		http.send(JSON.stringify(params));
	}
</script>
</html>