<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bank</title>
</head>
<body>
	<h3>Choose user for transaction report</h3>
	<form method="GET" th:action="@{/transactionreport}" th:object="${transactionReportRequest}">
		<div th:if="${#fields.hasErrors()}">
			<span class="validationError">
				Please correct the problems below and resubmit.
			</span>
		</div>
		<label for="client">Client:</label>
		<select id="client" th:field="*{userId}">
			<option value="-1">select option</option>
			<option th:each="option : ${clients}" th:value="${option.id}" th:text="${option.email}"></option>
		</select>
		<label for="type">Type:</label>
		<select id="type" th:field="*{type}">
			<option value="-1">select option</option>
			<option value="deposit">deposit</option>
			<option value="withdraw">withdraw</option>
		</select>
		<br>
		<input type="submit" value="Submit"/>
	</form>
	<p><a href="/">Back to main menu</a></p>
</body>
</html>