<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bank</title>
</head>
<body>
	<p>Client</p>
	<table border="1">
		<tr>
			<th>name</th>
			<th>date</th>
			<th>amount</th>
		</tr>
		<tr th:each="transaction : ${client.getTransactions()}">
			<th th:utext="${client.name}">...</th>
			<th th:utext="${transaction.getTransactionDate()}">...</th>
			<th th:utext="${transaction.getAmount()} + '$'">...</th>
		</tr>
	</table>
	<p><a href="/clients">Back to clients</a></p>
	<p><a href="/">Back to main menu</a></p>
</body>
</html>