<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Bank</title>
</head>
<body>
	<h1>Welcome to...</h1>
	<p><a href="/clients">1 - Print clients and their balance (amount of money)</a></p>
	<p><a href="/addclient">2 - Registry client</a></p>
	<p><a href="/totalamount">3 - Print total amount of money in bank</a></p>
	<p><a href="/depositmoney">4 - Deposit money</a></p>
	<p><a href="/chooseuserformoneymovementreport">5 - Print money movement report</a></p>
	<p><a href="/withdrawmoney">6 - Withdraw money</a></p>
	<p><a href="/transfermoney">7 - Transfer money</a></p>
	<p><a href="/choosetypefortransactionreport">8 - Print transaction type report</a></p>
</body>
</html>
